body{
    background-color: antiquewhite;
    font-family: 'Arvo', serif;
}
.Titre {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 150%;
}

.Container {
    display:flex;
    background-image: url('corpshumain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 450px;
    
}


.texte {
   padding-right: 25%;
    
   
}

.boutonNoir {
    display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px;
    width: 10%;
    height: 10%;
  
      
}

.boutonRouge {
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
    width: 20%;
    height: 20%;
}

#test {
    padding-left: 90%;
    padding-right: 30%;
    width: 14%;
    height: 20%;
}    
    
#bouton2 {
   
    width: 50%;
    height: 100%;
    
}
#bouton1 {
    
    width: 50%;
    height: 100%;
      
}